#root {
 font-family: 'Inter', sans-serif; 
  
  /* overflow-x-hidden */
  overflow-x: hidden; 
  
  /* bg-slate-50 */
  background-color: #f8fafc; 
  
  /* text-slate-800 */
  color: #1e293b; 
  
  /* antialiased */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes bounce-h {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(3px); }
}

/* Logic for the horizontal bounce animation on hover */
.group:hover .group-hover\:animate-bounce-h {
    animation: bounce-h 1s ease-in-out infinite;
}

